
<div class="grid-container">
    <header class="item1">
        <div class="lhs-container">

            <button *ngIf="isLoggedIn" mat-icon-button (click)="onMenu()" class="menu-toggle lh-button">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <img [src]="logoPath" alt="Optic Logo">
        </div>

        <nav class="navigation">
            <div class="rhs-container">

                <div *ngIf="!isLoggedIn" class="user-buttons-container"> 
                    <button  mat-button (click)="onLogin()" class="rh-button login-button">Login</button>
                    <mat-divider class="divider" [vertical]="true"></mat-divider>
                    <button mat-icon-button color="primary" class="rh-button" (click)="onLang()" aria-label="Language/Region Button">
                        <span class="material-symbols-outlined">
                            captive_portal
                        </span>
                    </button>
                </div>

                <div *ngIf="isLoggedIn" class="user-buttons-container">
                    <button mat-icon-button (click)="onSearch()" class="rh-button">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                    <mat-divider class="divider mobile-divider" [vertical]="true"></mat-divider>
                    <button mat-icon-button (click)="onProfile()" class="rh-button">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </button>
                    <mat-divider class="divider fs-divider" [vertical]="true"></mat-divider>
                    <button mat-icon-button color="primary" class="rh-button language-button" (click)="onLang()" aria-label="Language/Region Button">
                        <span class="material-symbols-outlined">
                            captive_portal
                        </span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <div class="item2" *ngIf="!isLoggedIn"> 
        <h1>Need Help? Let's find it together!</h1>
        <div class="tab-container">
            <a class="lh-tab tab-cell">Small Buisness</a>
            <a class="tab-cell">Enterprise</a>
            <a class="rh-tab tab-cell">Partners</a>
        </div>
        <div class="search-container">

        </div>
        <div appDragScroll class="pill-container">
            <app-pill title="Get Started!" pillStyle="Secondary"></app-pill>
            <app-pill title="Wallet" pillStyle="Secondary"></app-pill>
            <app-pill title="Payment Link" pillStyle="Secondary"></app-pill>
            <app-pill title="Disputes" pillStyle="Secondary"></app-pill>
            <app-pill title="Payments" pillStyle="Secondary"></app-pill>
            <app-pill title="My Account" pillStyle="Secondary"></app-pill>
        </div>  
        
        <mat-chip-listbox>
            @for (chip of chipLabels; track chip) {
                <mat-chip-option
                [value]="chip"
                (selectionChange)="onChipSelect($event)"
                >
                    {{ chip }}
                </mat-chip-option>
            }
        </mat-chip-listbox>

        <mat-form-field>
            <mat-label>Input</mat-label>
            <input matInput [value]="_query">
        </mat-form-field>

        
    
    </div>

    
    
    
</div>
