<div class="header-container">
  <header class="collapsed">
    <div class="lhs-container">
      <button *ngIf="isLoggedIn" mat-icon-button (click)="onMenu()" class="menu-toggle lh-button">
        <span class="material-symbols-outlined"> menu </span>
      </button>
      <img [src]="logoPath" alt="Optic Logo" />
    </div>

    <nav class="navigation">
      <div class="rhs-container">
        <div *ngIf="!isLoggedIn" class="user-buttons-container">
          <button mat-button (click)="onLogin()" class="rh-button login-button">
            {{ loginLabel }}
          </button>
          <mat-divider class="divider" [vertical]="true"></mat-divider>
          <button mat-icon-button color="primary" class="rh-button" (click)="openSelect()"
            aria-label="Language/Region Button">
            <span class="material-symbols-outlined"> captive_portal </span>
          </button>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{selectedLanguage}}</mat-label>
            <mat-select [(value)]="selectedLanguage" disableOptionCentering>
              <mat-option *ngFor="let option of languages" [value]="option" (click)="updateLanguage(option)">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="isLoggedIn" class="user-buttons-container">
          <button mat-icon-button (click)="onSearch()" class="rh-button">
            <span class="material-symbols-outlined"> search </span>
          </button>
          <mat-divider class="divider mobile-divider" [vertical]="true"></mat-divider>
          <button mat-icon-button (click)="onProfile()" class="rh-button">
            <span class="material-symbols-outlined"> person </span>
          </button>
          <mat-divider class="divider fs-divider" [vertical]="true"></mat-divider>

          <button mat-icon-button color="primary" class="rh-button" (click)="openSelect()"
            aria-label="Language/Region Button">
            <span class="material-symbols-outlined"> captive_portal </span>
          </button>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{selectedLanguage}}</mat-label>
            <mat-select [(value)]="selectedLanguage" disableOptionCentering>
              <mat-option *ngFor="let option of languages" [value]="option" (click)="updateLanguage(option)">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </nav>
  </header>

  <div class="expanded" *ngIf="!isLoggedIn">
    <h1>
      {{ title }}
    </h1>

    <app-center-tab-bar class="tab-container" [tabs]="tabs" (tabChanged)="setCategoryGroup($event)"
      [initialTabIndex]="initialTabIndex"></app-center-tab-bar>

    <div class="search-container">
      <app-search-bar [searchString]="_query" [category_group]="category_group"></app-search-bar>
    </div>

    <div class="pill-bar-container">
      <app-pill-bar [chipLabels]="chipLabels" (notifyParentEvent)="handlePillEvent($event)"></app-pill-bar>
    </div>
  </div>
</div>