<div class="article-index-container">
    <label class="top-text">
        In this article
    </label>
    <div class="content-container">
        <div class="header-content">
            <label class="header-title">Payment Links</label>
        </div>
        @for (articleLink of articleLinks; track articleLink.title) {
            <div class="link-content">
                <label class="article-link" (click)="onLinkClick(articleLink.url)">{{ articleLink.title }}</label>
            </div>
        }  
    </div>
</div>