@import "./../../../../styles/mixins.scss";

.section-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    margin-right: 8px;
    background: var(--hc-light-purple);
    color: var(--hc-primary-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
