<mat-form-field [class.search-bar-container]="isPanelOpened" #matSelect = 'matFormField' (click)="onSearchChange()">
    <span class="material-symbols-outlined search-icon">search</span>
    <input type="text"
            placeholder="Search"
            class="search-input"
            matInput
            #searchInput
            (input)="onSearchChange()"
            [formControl]="searchString"
            [matAutocomplete]="auto">
    <span class="material-symbols-outlined close-icon" (click)="cleanSearch($event)">close</span>
    <mat-autocomplete #auto="matAutocomplete" class="autocomplete-container" (closed)="onClosedEvent()" >
        <div class="divider-line"></div>
        <span class="option-header">Popular articles</span>
        <div class="options-list">
            @for (option of filteredOptions; track option) {
                <mat-option [value]="option" class="option-container">
                    <span class="material-symbols-outlined search-icon">search</span>
                    <span class="option-text">{{option}}</span>
                </mat-option>
            }
        </div>
    </mat-autocomplete>
</mat-form-field>