<mat-form-field [class.search-bar-container]="isPanelOpened" #matSelect = 'matFormField'>
    <span class="material-symbols-outlined search-icon">search</span>
    <input type="text"
            placeholder="Search"
            class="search-input"
            matInput
            (input)="onSearchChange()"
            (click)="onSearchChange()"
            [formControl]="searchString"
            [matAutocomplete]="auto">
    <span class="material-symbols-outlined close-icon" (click)="cleanSearch()">close</span>
    <mat-autocomplete #auto="matAutocomplete" class="autocomplete-container" (closed)="onClosedEvent()" >
        <svg class="svg-line" xmlns="http://www.w3.org/2000/svg" width="669" height="1" viewBox="0 0 669 1" fill="none">
            <path d="M0 1H669" stroke="#CDD2C8"/>
        </svg>
        <svg class="svg-line-mb" xmlns="http://www.w3.org/2000/svg" width="275" height="1" viewBox="0 0 275 1" fill="none">
            <path d="M0 1H275" stroke="#CDD2C8"/>
        </svg>
        <span class="option-header">Popular articles</span>
        <div class="options-list">
            @for (option of filteredOptions; track option) {
                <mat-option [value]="option" class="option-container">
                    <span class="material-symbols-outlined search-icon">search</span>
                    <span class="option-text">{{option}}</span>
                </mat-option>
            }
        </div>
    </mat-autocomplete>
</mat-form-field>