
$neutral-accent: var(--hc-link-color); 
$neutral-title: var(--hc-color-paysafe-blue-50);

$positive-accent: var(--hc-color-positive-accent);
$positive-title: var(--hc-color-positive-title);

$warning-accent: var(--hc-color-warning-accent);
$warning-title: var(--hc-color-warning-title);

$danger-accent: var(--hc-color-danger-accent);
$danger-title: var(--hc-color-danger-title);

mat-card {
    border: 1px solid var(--hc-color-grey-20);
    padding: 4px 3px 4px 3px;
    background: var(--hc-color-bg-secondary);
    border-radius: 4px;
    max-height: fit-content;

    .content-container {
        padding: 4px 4px 4px 4px;
        max-height: 100%;
        height: fit-content;
        display: flex;
        gap: 12px;
        flex-direction: row;
        align-items: start;

        .detail {
            
            border-radius: 5px;
            align-self: stretch;
            max-width: 4px;
            min-width: 4px;
        }

        .neutral-detail { background-color: $neutral-accent };
        .positive-detail { background-color: $positive-accent };
        .warning-detail { background-color: $warning-accent };
        .danger-detail { background-color: $danger-accent };

        .text-content {
            flex: 1;
            align-items: stretch;

            .message-title {
                margin-top: 0px;
                font-size: 14px;
                font-weight: 500;
            }

            .neutral-title { color: $neutral-title };
            .positive-title { color: $positive-title };
            .warning-title { color: $warning-title };
            .danger-title { color: $danger-title };
        
            .message-body {
                margin: 0;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                color: var(--hc-color-fg-secondary);
            }
        }
    }
}
