
<mat-card>
    <div class="content-container">
        <div class="detail"></div>
        <div class="text-content">
                <h2 class="message-title">Title Message</h2>
                <p class="message-body"> Little Red Riding Hood went on a mission accross the sea to find someone with whom to share her wheat. The Big Bad Wolf followed in his submarine to see if he could make her into a meal to eat.Little Red Riding Hood went on a mission accross the sea to find someone with whom to share her wheat. The Big Bad Wolf followed in his submarine to see if he could make her into a meal to eat.</p>
        </div>
    </div>
</mat-card>
  