@mixin respond-to($media) {
  @if $media == "mobile-mb" {
    @media (max-width: 480px) {
      @content;
    }
  }
  @if $media == "medium" {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $media == "desktop-bg" {
    @media (min-width: 769px) {
      @content;
    }
  }
}

@mixin icon-style {
  margin-right: 8px;
  background: var(--hc-light-purple);
  color: var(--hc-primary-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
