:root {
  --hc-primary-color: #5a28ff;
  --hc-primary-color-dark: #320fa0;
  --hc-link-color: #7d55ff;
  --hc-light-purple: #e8e0ff;

  --hc-divider-purple: #a587ff;

  --hc-gray-color: #cdd2c8;
  --hc-dark-gray: #787d78;
  --hc-light-black: #414641;

  --hc-color-paysafe-blue-50: #4619d2;
  --hc-color-paysafe-blue-05: #e8e0ff;
  --hc-color-fg-primary: #141414;
  --hc-color-fg-secondary: #414641;
  --hc-color-fg-tertiary: #787d78;
  --hc-color-fg-invert: #fff;
  --hc-color-bg-cta: #5a28ff;
  --hc-color-bg-secondary: #f5f5f0;
  --hc-color-bg-terciary: #d3d3d3;

  --hc-color-positive-accent: #23aa23;
  --hc-color-positive-title: #1e7814;

  --hc-color-warning-accent: #ffc228;
  --hc-color-warning-title: #735405;

  --hc-color-danger-accent: #a0160f;
  --hc-color-danger-title: #a0160f;

  --hc-color-white: #fff;
  --hc-color-grey-20: #cdd2c8;

  --hc-accent-blue: #82edfd;
  --hc-light-blue: #c2f7ff;
  --hc-dark-blue: #145c76;
  --hc-deep-dark-blue: #08252f;

  //* Spacing variables*//
  --spacing-99: 999px;
  --spacing-9: 40px;
  --spacing-8: 32px;
  --spacing-7: 24px;
  --spacing-6: 16px;
  --spacing-5: 12px;
  --spacing-4: 10px;
  --spacing-3: 8px;
  --spacing-2: 6px;
  --spacing-1: 4px;
  --spacing-0: 0px;
}
