:root {
    --hc-primary-color: #5a28ff;
    --hc-link-color: #7d55ff;
    --hc-light-purple: #e8e0ff;
  
    --hc-gray-color: #cdd2c8;
    --hc-dark-gray: #787d78;
  
    --hc-light-black: #414641;

    --hc-color-paysafe-blue-05: #E8E0FF;
    --hc-color-fg-primary: #141414;
    --hc-color-fg-secondary: #414641;
    --hc-color-bg-cta: #5A28FF;
    --hc-color-bg-secondary: #F5F5F0;

    --hc-color-white: #FFF;
    --hc-color-grey-20: #CDD2C8;

    //* Spacing variables*//
    --spacing-7: 24px;
    --spacing-6: 16px;
    --spacing-3: 8px;
  }