@import "./../../../../../styles/mixins.scss";

mat-card {
  cursor: pointer;
  width: 206px;
  box-shadow: none;
  border: 1px solid var(--hc-color-bg-secondary);

  @include respond-to("mobile-mb") {
    width: 100%;
  }

  @include respond-to("mobile-mb") {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.04),
      0px 4px 6px -1px rgba(0, 0, 0, 0.06);
  }

  &:active {
    border: 1px solid var(--hc-gray-color);
  }

  mat-card-content {
    display: flex;
    padding: var(--spacing-7, 24px);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    max-width: 206px;

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include respond-to("mobile-mb") {
        gap: 0px;
      }
    }

    @include respond-to("mobile-mb") {
      max-width: 100%;
      flex-direction: row;
    }

    .icon-mb {
      @include icon-style();
      height: 28px;
      padding: 10px;
      box-sizing: border-box;
      font-size: 16px;
      margin-bottom: 12px;
      display: none;

      @include respond-to("mobile-mb") {
        display: flex;
      }
    }

    .header {
      max-width: 100%;

      .icon-bg {
        @include icon-style();
        height: 28px;
        width: 28px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        margin-bottom: 12px;

        @include respond-to("mobile-mb") {
          display: none;
        }
      }

      h4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--hc-color-fg-primary);
        margin-bottom: 0;
        max-width: 152px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include respond-to("mobile-mb") {
          font-size: 12px;
          max-width: 100%;
          margin: 0;
        }
      }
    }

    .content {
      p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        margin: 0;
        line-height: normal;
        color: var(--hc-color-fg-secondary);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        min-height: var(--size-3-lines);
        overflow: hidden;
        text-overflow: ellipsis;

        @include respond-to("mobile-mb") {
          -webkit-line-clamp: 2;
          min-height: var(--size-2-lines);
        }
      }
    }
  }
}