@import "./../../../../styles/mixins.scss";

.link {
  text-decoration: none;
  color: var(--hc-primary-color);
  font-weight: 400;
  display: flex;
  align-items: center;

  span {
    margin-right: 4px;
  }

  @include respond-to("mobile-mb") {
    font-size: 14px;
  }

  @include respond-to("medium") {
    font-size: 16px;
  }

  @include respond-to("desktop-bg") {
    font-size: 18px;
  }

  &:hover {
    color: var(--hc-primary-color-dark);
  }

  &:active {
    color: var(--hc-primary-color-dark);
  }

  .flat-icon {
    background: transparent;
    height: 20px;
    width: 20px;
    color: var(--hc-primary-color);

    @include respond-to("mobile-mb") {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }

    @include respond-to("medium") {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }

    @include respond-to("desktop-bg") {
      height: 20px;
      width: 20px;
      font-size: 20px;
    }

    &:hover {
      color: var(--hc-primary-color-dark);
    }

    &:active {
      color: var(--hc-primary-color-dark);
    }
  }
}
