@import "./../../../../styles/mixins.scss";

mat-card {
  width: 100%;
  box-shadow: none;
  border: 1px solid var(--hc-color-bg-secondary);

  @include respond-to("mobile-mb") {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.04),
      0px 4px 6px -1px rgba(0, 0, 0, 0.06);
  }

  &:active {
    border: 1px solid var(--hc-gray-color);
  }
}
