@import "./../../../../../styles/mixins.scss";

.news-container {
    width: 256px;
    box-shadow: none;
    border: 1px solid var(--hc-color-bg-secondary);

    @include respond-to("mobile-mb") {
        width: 100%;
    }

    .article-link {
        @include respond-to("mobile-mb") {
            display: none;
        }
    }

    &:hover {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.04),
            0px 4px 6px -1px rgba(0, 0, 0, 0.06);
    }

    &:active {
        border: 1px solid var(--hc-gray-color);
    }

    mat-card-content {
        display: flex;
        flex-flow: column;
        padding: 0;
        max-width: 256px;

        @include respond-to("mobile-mb") {
            display: flex;
            flex-flow: row;
            align-items: center;
            max-width: 100%;
        }

        .header {
            display: flex;

            @include respond-to("mobile-mb") {
                flex: 2;
            }

            .image-bg {
                height: 157px;
                object-fit: cover;
                box-sizing: border-box;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                width: 100%;

                @include respond-to("mobile-mb") {
                    height: 88px;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 0;
                    display: none;
                }
            }

            .image-mb {
                height: 157px;
                object-fit: cover;
                box-sizing: border-box;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                width: 100%;
                display: none;

                @include respond-to("mobile-mb") {
                    height: 88px;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 0;
                    display: flex;
                }
            }
        }

        .content {
            padding: 24px;

            @include respond-to("mobile-mb") {
                padding: 8px;
                display: flex;
                flex: 4;
                flex-flow: column;
            }

            .title-section {
                @include respond-to("mobile-mb") {
                    display: flex;
                    align-items: center;

                    .icon {
                        display: none;
                    }
                }

                h4 {
                    color: var(--hc-color-fg-primary);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 0;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @include respond-to("mobile-mb") {
                        font-size: 12px;
                        margin: 0;
                    }
                }

                span {
                    color: var(--hc-dark-gray);
                    font-size: 12px;
                    font-weight: 300;
                    margin-bottom: 16px;

                    @include respond-to("mobile-mb") {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }

            p {
                color: var(--hc-light-black);
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 16px;

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                min-height: var(--size-3-lines);
                overflow: hidden;
                text-overflow: ellipsis;

                @include respond-to("mobile-mb") {
                    display: -webkit-box;
                    max-height: 3em;
                    line-height: 1.5em;
                    margin-bottom: 0;
                    font-size: 10px;
                    min-width: 160px;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    align-self: stretch;
                    min-height: var(--size-2-lines);

                }
            }

            a {
                @include respond-to("mobile-mb") {
                    display: none;
                }

                text-decoration: none;
                display: flex;
                align-items: center;

                span {
                    color: var(--hc-primary-color);
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    margin-bottom: 0;
                    margin-right: 8px;
                }

                .flat-icon {
                    background: transparent;
                    height: 20px;
                    width: 20px;
                    color: var(--hc-primary-color);
                }
            }

            .icon {
                @include icon-style();
                height: 28px;
                width: 28px;
                padding: 10px;
                box-sizing: border-box;
                font-size: 16px;
                margin-bottom: 16px;

                @include respond-to("mobile-mb") {
                    margin: 0;
                    margin-right: 8px;
                }
            }
        }

        .go-icon {
            display: none;

            @include respond-to("mobile-mb") {
                display: flex;
                height: 16px;
                width: 16px;
                color: var(--hc-dark-gray);
                font-size: 20px;
                margin-right: 12px;
            }
        }
    }
}