<app-header></app-header>
<div class="main-container">
    <div class="purple-bar"></div>
    <app-sidebar class="sidebar" [menuDataSection]="sidebarData" [businessOptions]="businessOptions"
        [selectedBusiness]="selectedOptionSidebar" [menuSections]="menuSections"
        (renderTemplate)="renderContent($event)"></app-sidebar>
    <div class="content">
        <div class="article-container">
            <div class="article-info-container">
                <app-breadcrumb></app-breadcrumb>
                <div class="content-container">
                    <ng-container #dynamicContainer></ng-container>
                </div>

                <app-article-feedback></app-article-feedback>
                <app-related-articles></app-related-articles>
            </div>

            <app-article-index class="article-index" [articleLinks]="articleIndexSections"></app-article-index>
        </div>
        <app-contact-us class="contact-us-container"></app-contact-us>
    </div>
</div>
<app-footer></app-footer>