<div class="mat-typography banner-container">
  <div class="initial-content">
    <mat-icon class="icon mr1">campaign</mat-icon>

    <div class="info">
      <h5>{{ title }}</h5>
      <p>{{ subtitle }}</p>
    </div>
  </div>

  <div class="secondary-content">
    <p class="mr1">
      {{ description }}
    </p>
    <a [href]="url" target="_blank">
      <button mat-flat-button color="primary">Learn More</button>
    </a>
  </div>

  <mat-icon class="mobile-icon">chevron_right</mat-icon>
</div>
