<div class="mat-typography banner-container">
  <div class="initial-content">
    <mat-icon class="icon mr1">campaign</mat-icon>

    <div class="info">
      <h5>New feature alert</h5>
      <p>Product Catalogue is here!</p>
    </div>
  </div>

  <div class="secondary-content">
    <p class="mr1">
      Streamline your checkout experience and track sales insights for all of
      your business products today!
    </p>
    <button mat-flat-button color="primary">Learn More</button>
  </div>

  <mat-icon class="mobile-icon">chevron_right</mat-icon>
</div>
