<div class="hero-container">
    <h1 style="margin:0px;">
        Need Help? Let's find it together!
    </h1>
    <div>
        <button>Small business</button>
        <button>Enterprise</button>
        <button>Partners</button>
    </div>
    <div>
        <input type="text" placeholder="Search">
        <small>Get Started</small>
        <small>Wallet</small>
        <small>Paysafe card</small>
        <small>Disputes</small>
        <small>Payments</small>
        <small>My account</small>
        <small>Transactions</small>
    </div>
</div>