@import "./../../../../styles/mixins.scss";

.contact-us-container {
  padding: 0;
  margin: 40px;
  border-radius: 20px;

  .need-help-button {
    padding: 34px 16px;
    width: 100%;
  }

  .button-content {
    display: flex;
    align-items: center;

    .mail-icon {
      display: none;
      @include respond-to("mobile-mb") {
        display: flex;
        @include icon-style();
      }
    }

    .section {
      display: flex;

      @include respond-to("mobile-mb") {
        display: block;
      }

      .mail-icon {
        @include icon-style();
        @include respond-to("mobile-mb") {
          display: none;
        }
      }

      .button-text {
        font-size: 22px;
        font-weight: 500;
        @include respond-to("mobile-mb") {
          font-size: 14px;
        }
      }

      .mobile-icon {
        color: var(--hc-link-color);
        display: block;

        @include respond-to("mobile-mb") {
          display: none;
        }
      }

      .link {
        font-size: 18px;
        color: var(--hc-link-color);
        @include respond-to("mobile-mb") {
          font-size: 12px;
        }
      }
    }
    .mobile-icon {
      display: none;
      @include respond-to("mobile-mb") {
        display: block;
      }
    }
  }
}
