<mat-card class="mat-typography contact-us-container">
  <div class="content">
    <h4 class="mat-headline-4">Contact Us</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <div class="mat-body-2">Platform</div>

    <!-- CHIP LIST  -->
    <div class="row chip-list">
      <div class="chip">
        <mat-icon> check </mat-icon>
        Mobile
      </div>
      <div class="chip"><mat-icon> check </mat-icon>Desktop</div>
    </div>

    <!-- LINKS -->
    <div class="row mb2">
      <div class="mat-body-2 mr2">Optic Mobile</div>
      <div class="mat-body-2 primary">Optic Help Center</div>
    </div>

    <div class="row">
      <a href="" class="link"> External link </a>
    </div>
  </div>
  <div class="footer">
    <button mat-raised-button class="need-help-button">
      <div class="button-content">
        <mat-icon class="mail-icon mr1">mail</mat-icon>
        <div class="section">
          <span class="row centered">
            <mat-icon class="mail-icon mr1">mail</mat-icon>
            <div class="button-text mr1">Need more help?</div>
          </span>

          <span class="row centered">
            <div class="link mr1">Contact us</div>
            <mat-icon class="go-icon">chevron_right</mat-icon>
          </span>
        </div>
        <mat-icon class="go-icon">chevron_right</mat-icon>
      </div>
    </button>
  </div>
</mat-card>
