<mat-card class="mat-typography contact-us-container">
  <button mat-raised-button class="need-help-button">
    <div class="button-content">
      <mat-icon fontSet="material-icons-outlined" class="mail-icon mr1">mail</mat-icon>
      <div class="section">
        <span class="row centered">
          <mat-icon fontSet="material-icons-outlined" class="mail-icon mr1">mail</mat-icon>
          <div class="button-text mr1">Need more help?</div>
        </span>

        <span class="row centered">
          <div class="link">Contact us</div>
          <mat-icon class="go-icon">chevron_right</mat-icon>
        </span>
      </div>
      <mat-icon class="mobile-icon">chevron_right</mat-icon>
    </div>
  </button>
</mat-card>
