<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="accordion">
      <mat-panel-title> {{title}} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      @for(context of accordionData; track context.title){
      <div>
        <app-link [label]='context.title' [url]="context.url"> </app-link>
        <p class="accordion-paragraph">
          {{context.text}}
        </p>
      </div>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>