<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="accordion">
      <mat-panel-title> Accordion Section Title </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <div>
        <app-link [label]="'Accordion Item Title'"> </app-link>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dui quam consectetur tincidunt
          adipiscing. Et in blandit nisi integer. Non risus sed odio sed dui
          nisl. Dolor mattis malesuada morbi lacus integer elementum nulla.
          Integer tincidunt tempus dapibus purus. Lectus in in eu justo quisque
          nunc fusce mauris et. Id cras cursus porttitor lacus erat ornare
          tempor nisl.
        </p>
      </div>
      <div>
        <app-link [label]="'Accordion Item Title'"> </app-link>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dui quam consectetur tincidunt
          adipiscing. Et in blandit nisi integer. Non risus sed odio sed dui
          nisl. Dolor mattis malesuada morbi lacus integer elementum nulla.
          Integer tincidunt tempus dapibus purus. Lectus in in eu justo quisque
          nunc fusce mauris et. Id cras cursus porttitor lacus erat ornare
          tempor nisl.
        </p>
      </div>
      <div>
        <app-link [label]="'Accordion Item Title'"> </app-link>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dui quam consectetur tincidunt
          adipiscing. Et in blandit nisi integer. Non risus sed odio sed dui
          nisl. Dolor mattis malesuada morbi lacus integer elementum nulla.
          Integer tincidunt tempus dapibus purus. Lectus in in eu justo quisque
          nunc fusce mauris et. Id cras cursus porttitor lacus erat ornare
          tempor nisl.
        </p>
      </div>
      <div>
        <app-link [label]="'Accordion Item Title'"> </app-link>
        <p>
          Lorem ipsum dolor sit amet consectetur. Dui quam consectetur tincidunt
          adipiscing. Et in blandit nisi integer. Non risus sed odio sed dui
          nisl. Dolor mattis malesuada morbi lacus integer elementum nulla.
          Integer tincidunt tempus dapibus purus. Lectus in in eu justo quisque
          nunc fusce mauris et. Id cras cursus porttitor lacus erat ornare
          tempor nisl.
        </p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
