@import "./../../../../styles/mixins.scss";

mat-expansion-panel {
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid var(--hc-color-bg-secondary);

  &:hover {
    border-bottom: 1px solid var(--hc-color-grey-20);
    background: white;
  }
  .mat-expansion-panel-header {
    &:hover {
      background: white !important;
    }
  }

  .content {
    padding: 20px;
  }

  .mat-expansion-panel-header-title {
    color: var(--hc-color-fg-secondary);
    leading-trim: both;
    text-edge: cap;
    font-variant-numeric: lining-nums;
  
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  
    @include respond-to("mobile-mb") {
      font-size: 16px;
    }

    &:hover{
      color: var(--hc-color-fg-primary);
    }
  }

  .accordion-paragraph{
    color: var(--hc-color-fg-secondary);
    leading-trim: both;
    text-edge: cap;
    font-variant-numeric: lining-nums;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    @include respond-to("mobile-mb") {
      color: var(--color-fg-secondary, #414641);
      leading-trim: both;

      text-edge: cap;
      font-variant-numeric: lining-nums;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}


:host ::ng-deep .mat-expansion-indicator:after {
  --mat-expansion-header-indicator-color: var(--hc-primary-color);
}
