mat-expansion-panel {
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid var(--hc-color-bg-secondary);

  &:hover {
    border-bottom: 1px solid var(--hc-color-grey-20);
    background: white;
  }
  .mat-expansion-panel-header {
    &:hover {
      background: white !important;
    }
  }

  .content {
    padding: 20px;
  }
}

.mat-expansion-panel-header-title {
  font-size: 18px;
  color: var(--hc-light-black);
  font-weight: 400;
}

:host ::ng-deep .mat-expansion-indicator:after {
  --mat-expansion-header-indicator-color: var(--hc-primary-color);
}
