@import "./../../../../styles/mixins.scss";

:host {
  width: 100%;
}

.related-articles-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-6);
  padding: var(--spacing-9) 27px;
  border-radius: var(--spacing-3);
  background: var(--hc-color-bg-primary);
  width: 100%;
  box-sizing: border-box;

  .related-title-container {
    display: flex;
    height: 40px;
    align-items: center;
    gap: var(--spacing-4);
    align-self: stretch;

    .icon-holder {
      .icon {
          @include icon-style(); // Use mixin for consistent icon styling
      
          @include respond-to("mobile-mb") {
            width: 32px;
            height: 32px;
            font-size: 20px;
          }
        }
    }

    .related-title {
      color: var(--hc-color-fg-primary);
      font-variant-numeric: lining-nums;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 96%;

      @include respond-to("medium") {
        font-size: 22px;
      }
    }
  }

  .related-articles-content {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-7);

    .related-links-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-6);
    }

    .view-more-btn {
      display: flex;
      height: 32px;
      min-width: 80px;
      width: fit-content;
      padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-4);
      justify-content: center;
      align-items: center;
      gap: var(--spacing-1);
      border-radius: var(--spacing-2);
      background: var(--hc-color-bg-secondary);
      border: none;
      cursor: pointer;

      .arrow-outward-icon {
        transform: scale(0.66);
      }
    }
  }
}

@include respond-to("mobile-mb") {
  .icon-holder {
    width: 32px;
    height: 32px;
  }
}

@include respond-to("medium") {
  .icon-holder {
    width: 40px;
    height: 40px;
  }
}