<div class="related-articles-container">
    <div class="related-title-container">
        <div class="icon-holder">
            <img src="./../../../../assets/icons/common/note-stack-icon.svg" width="22" height="22"> 
        </div>
        <h2 class="related-title-bg">Related articles</h2>
        <h3 class="related-title-mb">Related articles</h3>
    </div>
    <div class="related-articles-content">
        <div class="related-links-container">
            @for (relatedLink of relatedLinks; track relatedLink.title) {
                <a class="link-element" href="{{relatedLink.link}}">
                    <span class="related-link">{{ relatedLink.title }}</span>
                    <mat-icon class="arrow-outward-icon" fontIcon="arrow_outward"></mat-icon>
                </a>
            }      
        </div>
        <button class="view-more-btn" (click)="onClickViewMore()">
            View More
            <mat-icon class="arrow-outward-icon" fontIcon="arrow_forward"></mat-icon>
        </button>
    </div>
</div>