@import "./../../../../styles/mixins.scss";
.related-articles-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-6);
    border-radius: var(--spacing-3);
    .related-title-container{
        display: flex;
        height: 40px;
        align-items: center;
        gap: var(--spacing-4);
        align-self: stretch;
        .icon-holder{
            border-radius: var(--spacing-99);
            background: var(--hc-color-paysafe-blue-05);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .related-title-bg{
            color: var(--hc-color-fg-primary);
            font-variant-numeric: lining-nums;

            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 96%; /* 30.72px */
        }
        .related-title-mb{

            color: var(--hc-color-fg-primary);
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .related-articles-content{
        display: flex;
        padding-left: 50px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-7);
        .related-links-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-6);
            .link-element{
                display: flex;
                flex-direction: row;
                text-decoration: none;
                .related-link{
                    color: var(--hc-color-bg-cta);

                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0px;
                    text-align: left;
                }
            }
            
        }
        .view-more-btn{
            display: flex;
            height: 32px;
            min-width: 80px;
            padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-4);
            justify-content: center;
            align-items: center;
            gap: var(--spacing-1);
            border-radius: var(--spacing-2);
            background: var(--hc-color-bg-secondary);
            border: none;
            cursor: pointer;
        }
    }
}


@include respond-to("mobile-mb") {
    .related-title-bg{
        display: none;
    }
    .icon-holder{
        width: 32px;
        height: 32px;
    }
    .related-link{
        overflow: hidden;
        font-size: 14px;
        display: -webkit-box;
        max-width: 238px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-variant-numeric: lining-nums;
        text-overflow: ellipsis;
    }
}
@include respond-to("desktop-bg") {
    .related-title-mb{
        display: none;
    }
    .icon-holder{
        width: 40px;
        height: 40px;
    }
    .related-link{
        font-size: 16px;
    }
}