<div class="related-articles-container">
  <div class="related-title-container">
    <div class="icon-holder">
      <img
        src="./../../../../assets/icons/common/note-stack-icon.svg"
        width="22"
        height="22"
      />
    </div>
    <h2 class="related-title">{{ title }}</h2>
  </div>
  <div class="related-articles-content">
    <div class="related-links-container">
      @for (relatedLink of relatedLinks; track relatedLink.title) {

      <app-link [url]="relatedLink.url" [label]="relatedLink.title"></app-link>

      }
    </div>
    <button class="view-more-btn" (click)="onClickViewMore()">
      {{ viewMoreLabel }}
      <mat-icon class="arrow-outward-icon" fontIcon="arrow_forward"></mat-icon>
    </button>
  </div>
</div>
