@import "./../../../../styles/mixins.scss";

.modal {
    position: fixed;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 501px;
    z-index: 1000;

    .header-container {
        display: flex;
        flex-direction: row;
        padding: var(--spacing-7);
        padding-bottom: 0;
        gap: 16px;
        mat-card-header {
            padding: 0;
            width: 100%;

            .title {
                width: 100%;
                height: auto;
                color: var(--hc-color-fg-primary);
                font-size: 18px;
                font-weight: 500;
            }

            .subtitle {
                color: var(--hc-color-fg-tertiary);
                font-size: 12px;
                font-weight: 400;
            }
        }

        .up-arrow { 
            //max-width: 28px;
            //max-height: 28px;
            color: var(--hc-primary-color);
            background-color: var(--hc-color-paysafe-blue-05);
            display: flex;
            width: 28px;
            height: 28px;
            flex-direction:row;
            justify-content:center;
            align-items:center;   
            border: none;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .arrow-icon {
            font-size: 16px;
        }

        .close {
            color: var(--hc-color-fg-tertiary);
            display: flex;
            width: 20px;
            height: 20px;
            flex-direction:row;
            justify-content:center;
            align-items:center;   
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }

    mat-card-content {
        padding-top: var(--spacing-6);
        padding-right: var(--spacing-7);
        padding-left: var(--spacing-7);
        padding-bottom: var(--spacing-7);

        p {
            margin-top: 0;
        }
    }

    mat-card-actions {
        padding-top: var(--spacing-5);
        padding-right: var(--spacing-7);
        padding-left: var(--spacing-7);
        padding-bottom: var(--spacing-7);
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-5);

        @include respond-to("mobile-mb") {
            justify-content: space-between;
        }

        .primary-button {
            min-width: 90px;
            color: white;
            background-color: var(--hc-primary-color);
        }

        .secondary-button {
            background-color: var(--hc-color-bg-secondary);

        }
    }
    
    
}