@import "./../../../../styles/mixins.scss";

h1 {
  font-size: 40px;
  color: var(--hc-color-fg-secondary);
  font-weight: 400;
  margin: 0;
  font-variant-numeric: lining-nums;

  @include respond-to("mobile-mb") {
    font-size: 32px;
  }
}
